{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h2>Edit Task</h2>   
        <form action="{{ url('edit_task_post', {id: task.id}) }}" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" name="name" value="{{task.name}}">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" class="form-control" name="description" value="{{task.description}}">
            </div>
            <input type="submit" class="btn btn-primary" value="Edit">
        </form>
    </div>
    
    <br/>
    <footer>
        <div class="container">
            Contacto: {{ contact_email }}
        </div>
    </footer>

{% endblock %}

